<div class="container">
	<div id="disqus_thread"></div>	
</div>

<footer class="footer">
	<div class="container">
		<ul>
			<li><a href="http://zhou-dong.github.io">Home</a></li>
			<li><a href="http://zhou-dong.github.io/about/about.html">About</a></li>
			<li class='github'><a href="https://github.com/zhou-dong"/><img src="../img/github.svg"/></a></li>
		</ul>
	</div>
</footer>

<script src="../js/jquery-2.2.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<% include ../utils/google-analytics %>
<% include ../utils/disqus %>