<header>
	<div class="jumbotron">
		<div class="container">
			<h1>
				<a href="https://zhou-dong.github.io" class="tip-number"> DZ </a>
				<span> <%= title %> </span>
			</h1>
			<hr />
		</div>
	</div>
</header>