<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>

<div class="container">

	<article class="panel panel-primary">
		<div class="panel-heading">Self Introduction</div>
		<div class="panel-body"><%- intro %></div>
	</article>

	<article class="panel panel-primary">
		<div class="panel-heading">
			How to handle the biggest challenge
		</div>
	  	<div class="panel-body"><%- challenge %></div>
	</article>
	
	<article class="panel panel-primary">
		<div class="panel-heading">Work Flow</div>
	  	<div class="panel-body"><%- workflow %></div>
	</article>

	<article class="panel panel-primary">
		<div class="panel-heading">Future</div>
	  	<div class="panel-body"><%- future %></div>
	</article>
		
</div>

<% include ../partials/footer %>
<script src="intro.js"></script>	
</body>
</html>
