<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>

<div class="container">
	<article id="introduction"></article>
	<article id="challenge"></article>
	<article id="workflow"></article>
</div>

<script type="text/javascript">
	var workflow = "<%= workflow %>";
	var challenge = "<%= challenge %>";
	var intro = "<%= intro%>";
</script>
<script src="intro.js"></script>
<% include ../partials/footer %>	
</body>
</html>