<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>

<div class="container">
	
	<div id="self-introduction"></div>
	
</div>

<script type="text/javascript">
	var content = "<%= content %>";
	var heading = "03/04/2017 Self Introduction" ;
</script>
<script src="intro.js"></script>
<% include ../partials/footer %>	
</body>
</html>