<!DOCTYPE html>
<html lang="en">
<head>
<% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>

<div class="container">

	<div class="panel panel-info">
		<div class="panel-heading">Self Introduction</div>
		<div class="panel-body"><%- intro %></div>
	</div>

	<article class="panel panel-success">
		<div class="panel-heading">Biggest Challenge</div>
	  	<div class="panel-body"><%- challenge %></div>
	</article>
	
	<article class="panel panel-warning">
		<div class="panel-heading">Work Flow</div>
	  	<div class="panel-body"><%- workflow %></div>
	</article>
	
</div>

<% include ../partials/footer %>
<script src="intro.js"></script>	
</body>
</html>