<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../../partials/head %>

	</head>
	<body>
		<% include ../../partials/header %>
	<div class="container">

	<div id="stack"></div>


	</div>
		<script src="../js/reverse-string.js"></script>
		<% include ../../partials/footer %>
	</body>
</html>