<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../../partials/head %>
		<style type="text/css">
			#stack {
				margin: 20px 0;
			}
			#queue {
				margin: 20px 0;
			}
			.btn-group-vertical .btn{
				width: 100px;
			}
			#input .btn{
				margin: 10px 10px 10px 10px;
			}
		</style>
	</head>
	<body>
		<% include ../../partials/header %>
		<div class="container">
			<h3>Stack Animation</h3>
			<div class="text-center" id="input"></div>
			<div class="text-left" id="queue"></div>
			<div class="text-center" id="stack"></div>	
			<% include ./code %>
		</div>

		<script src="../js/reverse-string.js"></script>
		<% include ../../partials/footer %>
	</body>
</html>