<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../../partials/head %>
		<style type="text/css">
			#stack {
				margin: 20px 0;
			}
			#queue {
				margin: 20px 0;
			}
			.btn-group-vertical .btn{
				width: 100px;
			}
			.row .btn{
				margin: 10px 10px 10px 0;
			}
			.well{
				font-size: 20px;
			}
		</style>
	</head>
	<body>
		<% include ../../partials/header %>
		<div class="container">
			<div class="row container">
				<div class="col-sm-3 well">Stack Solution</div>
				<div class="col-sm-9 text-center" id="input"></div>
			</div>
			<div class="text-left" id="queue"></div>
			<div class="text-center" id="stack"></div>
		</div>
		<script src="../js/reverse-string.js"></script>
		<% include ../../partials/footer %>
	</body>
</html>