<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<% include ../../partials/header %>
		<div class="container">
			<div class="text-center" id="input"></div>
			<div class="text-center" id="chart-container"></div>
		</div>
		<% include ../../partials/footer %>
		<script src="../js/implement-trie.js"></script>
	</body>
</html>