<!DOCTYPE html>
<html lang="en">
<head>
  	<% include ./partials/head %>
	<title>Introdction</title>
</head>

<body>

	<header>
		

	</header>

	<footer>
	<% include ./partials/footer %>
		
	</footer>
</body>

</html>