<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<% include ../../partials/header %>
		<div class="container">
			<div class="text-center" id="dashboard"></div>
			<div class="text-center" id="table"></div>
		</div>
		<script src="../js/edit-distance.js"></script>
		<% include ../../partials/footer %>
	</body>
</html>