<!-- disqus comments-->
<script id="dsq-count-scr" src="https://zhou-dong.disqus.com/count.js" async></script>
<script>
var disqus_config = function () {
// Replace PAGE_URL with your page's canonical URL variable
this.page.url = "<%= page.url %>"; 
// Replace PAGE_IDENTIFIER with your page's unique identifier variable
this.page.identifier = "<%= page.identifier %>"; 
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://zhou-dong.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>
Please enable JavaScript to view the 
<a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<!-- disqus comments-->